<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>
    <form action="/addcategory" method="POST">
        <label for="addCategory">Add Category</label>
        <input type="text" name="addCategory" id="addCategory" placeholder="Category">
        <button type="submit">Add</button>
    </form>
</body>
</html>